body{
    background-color: #eee;}
    .frm{
        border: solid gray 1px;
        width: 25%;
        border-radius: 5px;
        margin: 120px auto;
        background-color: white;
        padding: 50px;
    }
    #btn{
        color: #fff;
        background-color:#337ab7;
        padding: 7px;
        margin-left: 70px;
    }

